{% extends "account/base.html" %}

{% load static i18n crispy_forms_tags %}


{% load account socialaccount %}


{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xl-5 d-none d-xl-block p-0 vh-100 bg-image-cover bg-no-repeat"
       style="background-image: url(https://assets.staticimg.com/public-web/2.0.14/static/bg.235513a3.png);"></div>
  <div class="col-xl-7 vh-100 align-items-center d-flex bg-white rounded-3 overflow-hidden">
    <div class="card shadow-none border-0 ms-auto me-auto login-card">
      <div class="card-body rounded-0 text-left">
        <h1>{% trans "Change Password" %}</h1>
        <p>{% trans 'Your password is now changed.' %}</p>
      </div>
    </div>
  </div>
</div>


{% endblock %}
